@using ClassLibrary
@using RPGkillerapp.Controllers

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

@using (Html.BeginForm("ReturnToGamescreen", "Game", FormMethod.Post))
{
    <input value="Return" , type="submit" />
}

<table style="width:50%">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Level</th>
        <th>Value</th>
        <th>Amount</th>
        <th>Equiped</th>
    </tr>

    @foreach (Item item in ((GameController)ViewContext.Controller).InventoryItems())
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Level</td>
            <td>@item.GoldValue</td>
            <td>@item.ItemAmount</td>
            @if (((GameController)ViewContext.Controller).PlayerEquipment().Contains(item.Id))
            {
                <td>X</td>
            }
        </tr>
    }


</table> 